@tailwind base;
@tailwind components;
@tailwind utilities;

th{
    min-width: fit-content;
    width: 200px;
    border-bottom: solid 2px rgb(206, 206, 206);
    height: 40px;
}

td{
    border-bottom: solid 1px rgb(231, 231, 231);
    border-radius: 10px;
    height: 40px;
}

@media screen and (max-width: 650px) {
    *{
        font-size: 13px;
    }

    img{
        width: 5px;
        height: 5px;
    }
}

